body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: #E4F9F5;
    font-size: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 0.5fr 4fr 0.5fr;
}
.legend {
    background: #11999E;
}
.nav {
    background-color: #40514E;
    grid-column: 1/3;
    font-size: 2em;
    text-align: center;
    padding:20px;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
}
.footer {
    background-color: #40514E;
    grid-column: 1/3;
}
.todo {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.todo div {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 1fr;
    height: 50px;
    width: 100%;
}

input[type="checkbox"] {
    cursor: pointer;
    user-select: none;
    height: 1.5em;
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 26%;
    background-color: green;
    display: flex;
    padding:10px;
    flex-direction: column;
    display: none;
    z-index: 1000;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; 
}